In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df=pd.read_csv('C:\\Users\\HP\\Downloads\\pizza.csv')

In [4]:
df

    Promote  Sales
0        23    554
1        56   1339
2        34    815
3        25    609
4        67   1600
5        82   2000
6        46   1000
7        14    300
8         6    150
9        47   1150
10       52   1200
11       88   2000
12       71   1750
13       78   2000
14       66   1500
15       44   1000
16       68   1600
17       90   2000
18       22    550

In [5]:
df.shape

(19, 2)

In [6]:
df.isnull().sum()

Promote    0
Sales      0
dtype: int64

In [7]:
df.dtypes

Promote    int64
Sales      int64
dtype: object

In [8]:
df.columns

Index(['Promote', 'Sales'], dtype='object')

In [9]:
x=df[['Promote']]
y=df[['Sales']]
print(type(x))
print(type(y))
print(x.shape)
print(y.shape)

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
(19, 1)
(19, 1)

In [11]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=1)
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(14, 1)
(5, 1)
(14, 1)
(5, 1)

In [12]:
0.25*19

4.75

In [13]:
#model building
from sklearn.linear_model import LinearRegression, Ridge, Lasso

In [14]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [23]:
def reg_eval_metrics(ytest, ypred):
    mae=mean_absolute_error(ytest,ypred)
    mse=mean_squared_error(ytest,ypred)
    rmse=np.sqrt(mean_squared_error(ytest,ypred))
    r2=r2_score(ytest,ypred)
    print('MAE:',mae)
    print('MSE:',mse)
    print('RMSE:',rmse)
    print('R2 Score:',r2)
def mscore(model):
    print('Training Score',model.score(x_train,y_train))
    print('Testing Score',model.score(x_test,y_test))
def gen_coef_inter(model):
    print('Coefficients',model.coef_)
    print('Intercept',model.intercept_)

In [17]:
#linear regression
m1=LinearRegression()
m1.fit(x_train,y_train)

LinearRegression()

In [18]:
mscore(m1)

Training Score 0.9892892948474425
Testing Score 0.9336189545317319

In [19]:
ypred_m1=m1.predict(x_test)

In [22]:
reg_eval_metrics(y_test,ypred_m1)

MAE: 37.68407541224083
MSE: 2639.7192750584227
RMSE: 51.37819844115228
R2 Score: 0.9336189545317319

In [24]:
gen_coef_inter(m1)

Coefficients [[23.44143055]]
Intercept [18.25478797]

In [25]:
#ridge regression
m2=Ridge(alpha=0.4)
m2.fit(x_train,y_train)

Ridge(alpha=0.4)

In [26]:
mscore(m2)

Training Score 0.9892892934166024
Testing Score 0.9336055537775917

In [27]:
ypred_m2=m2.predict(x_test)

In [28]:
reg_eval_metrics(y_test,ypred_m2)

MAE: 37.68687724788374
MSE: 2640.252171591685
RMSE: 51.383384197536905
R2 Score: 0.9336055537775917

In [29]:
gen_coef_inter(m2)

Coefficients [[23.44053906]]
Intercept [18.30432952]

In [32]:
m3=Lasso(alpha=15.7)
m3.fit(x_train,y_train)

Lasso(alpha=15.7)

In [31]:
mscore(m3)

Training Score 0.9892885085419307
Testing Score 0.9333013651299606

In [33]:
ypred_m3=m3.predict(x_test)

In [34]:
reg_eval_metrics(y_test,ypred_m3)

MAE: 37.74975686615403
MSE: 2652.348586023564
RMSE: 51.50095713696556
R2 Score: 0.9333013651299606

In [35]:
gen_coef_inter(m3)

Coefficients [23.42053191]
Intercept [19.4161555]